.categorycard {
  display: flex;
  justify-content: center;
  margin: 5% auto;
  gap: 1%;
  width : 80%
}


.categorycard img {
  width: 100%;
  position: relative;
}

.categorycard-img {
  position: relative;
}
.categorycard-button {
  position: absolute;
  bottom: 8%; /* Adjust the distance from the bottom */
  left: 30%;
  right: 30%; /* Adjust the distance from the left */
  padding: 12px 18px;
  background-color: var(--color-accent);
  color: white; /* Text color for the button */
  border-radius: 2px;
  transition: transform 0.3s;
  text-decoration: none;
  z-index: 2;
  text-transform: uppercase;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a mild box shadow */
}

.categorycard-button:hover {
  background-color: var(--color-highlight); /* Highlight color on hover */
  transform: scale(1.1);
}

.categorycard-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(215deg, transparent 50%, var(--color-primary) 70%); /* Diagonal gradient */
  opacity: 0.8; /* Adjust the initial opacity */
  z-index: 1;
}