body {
  margin: 0;
}
  


:root {
  --color-primary: #f2ebe9;
  --color-secondary: #eddcd9;
  --color-text: #264143;
  --color-accent: #de5499;
  --color-highlight: #e99f4c;
}

/* You can use these variables throughout your stylesheets */





