footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
    margin-top: 2rem;
    background-color:#FAF0D7 ;
}

.footer-website-info {
 border-right: 1px solid black;
 
}


.footer-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
}