a {
  text-decoration: none;
}
.header {
  background-color: #faf0d7;
  width: 100vw;
  height: 90px;
  position: fixed;
  top: 0px;
}
.navbar {
  position: relative;
  top: 0px;
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: 1200px;
  background-color: #faf0d7;
  align-items: center;
  z-index: 2;
  padding-left: 100px;
}

.logo {
  height: 10vmin;
}

.nav-category {
  display: flex;
  gap: 10px;
}

.nav-items {
  display: flex;
  gap: 10px;
  color: black;
  padding-right: 20px;
}

.navbar-wishlist {
  position: relative;
}

.navbar-cart {
  position: relative;
}

.wishlist-count {
  position: absolute;
  bottom: 14px;
  left: 11px;
}

.cart-count {
  position: absolute;
  bottom: 15px;
  left: 12px;
}
